@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Roboto', sans-serif;
}
@layer components {
    .hoverEffect {
      @apply duration-300 cursor-pointer;
    }
    .headerSedenavLi {
      @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
    }
  }
  
  /* ============= NavLink active Start here ============== */
  nav .active li {
    color: black;
    font-weight: 600;
    text-decoration: 1px underline black;
  }
  
  @media screen and (max-width: 665px) {
    nav .active li {
      color: white;
      font-weight: 600;
      text-decoration: 1px underline white;
    }
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* ============= NavLink active End here ================ */
  